---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-init-variables,
  misc-const-correctness,
  modernize-*,
  performance-*,
  readability-avoid-const-params-in-decls,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-qualified-auto,
  readability-redundant-access-specifiers
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src|tests)/'
FormatStyle: file
...
